*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --gray: #BDBDBD;
  --black: #000;
  --gray-background: #F3F3F3;
  --white: #ffffff;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--black);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.section{
  margin-top: 24px;
  margin-bottom: 64px;
}

.section.-contact .container .title{
  font-size: 4rem;
  font-weight: lighter;
  color: var(--gray);
  margin-bottom: 24px;
}

.section.-contact .form-contact{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section.-contact .container .columns{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}


.section.-contact .container .input{
  background-color: var(--gray-background);
  padding: 16px;
  border: none;
}

.section.-contact .container .input:focus{
  outline: 1px solid var(--gray);
}

.section.-contact .container .button-email{
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 28px;
  max-width: 60%;
  margin-top: 40px;
  cursor: pointer;
}

.section.-contact .container .button-email:hover{
  transform: scale(1.1);
  transition: 0.4s;
  background-color: var(--gray);
}