*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.section{
  margin-top: 24px;
  margin-bottom: 64px;
}

.section.-mission .container .title{
  font-size: 4rem;
  font-weight: lighter;
  color: #BDBDBD;
  margin-bottom: 40px;
}

.section.-mission .container .columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section.-mission .container .columns .number{
  font-size: 8rem;
  font-weight: bold;
  color: #F2F2F2;
}

.section.-mission .container .columns .text{
  word-break: break-all;
  font-size: 1.2rem;
  padding-right: 190px;
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
}